* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#logo-nav-div {
    width: 100%;
    min-height: 50px;
    background-color: lightgray;
    margin-bottom: 10px;
}

#logo-div {
    width: 50%;
    min-height: 50px;
   /* background-color: gray; */
    float: left;
    line-height: 50px;
    padding-left: 2%;
}

#nav-div {
    width: 50%;
    min-height: 50px;
    /* background-color: gray; */
    float: right;
    line-height: 50px;
}

.clearfix::after {   /* After the content of the child, generate content="" */
    content: "";
    display: block;
    clear: both;

}

#header-banner-div {
    width: 100%;
    min-height: 100px;
    background-color: lightgray;
    text-align: center;
    line-height: 100px;
    margin-bottom: 10px;
}

#intro-div {
    width: 100%;
    min-height: 80px;
    background-color: lightgrey;
    text-align: center;
    line-height: 80px;
    margin-bottom: 10px;
}

#parent-div {
    width: 100%;
    min-height: 400px;
   /* background-color: gray; */
   margin-bottom: 10px;
}

#parent-div .box {
    width: 30%;
    min-height: 400px;
    background-color: lightgray;
    float: left;
    text-align: center;
    line-height: 400px;
}

#parent-div .box:nth-child(2) {
    margin-left: 5%;
    margin-right: 5%;
}

#footer-div {
    width: 100%;
    min-height: 50px;
    background-color: lightgray;
    text-align: center;
    line-height: 50px;
}

#wrapper-div {
    width: 80%;
    margin: auto;
}